extends ../layout

block content
  h2 Login
  form(action='/auth/login', method='POST')#form
    label(for='username') Username:
    input(type='text', name='username').input

    label(for='password') Password:
    input(type='password', name='password').input

    input(type='submit', value='Log In').button
    p=message
