extends ../layout

block content
  h2 Iniciar sesión
  form(action='/auth/login', method='POST')#form
    label(for='username') Usuario:
    input(type='text', name='username').input

    label(for='password') Contraseña:
    input(type='password', name='password').input

    input(type='submit', value='Iniciar sesión').button
    p=message

    br
    br
    p ¿Todavía no tienes una cuenta?
    a(href='/auth/signup').button Regístrate
