extends ../layout

block content
  h1=title
  form#form
    label(for='type') Tipo
    select(name='type')#formSelect.button
      option(value='who') Sujeto
      option(value='verb') Adjetivo
      option(value='adj') Intencion
      option(value='what') Accion
      option(value='how') Modo
      option(value='where') Lugar
      option(value='when') Tiempo
    label(for='content') Contenido
    input(name='content', type='text' placeholder='Algo como "damisela"')#formContent.input
    br
    input(type='submit', value='enviar').button
    span#message
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascript/wordController.js')
