extends ../layout

block content
  h1 All words
  ul
    each word in list
      li
        span
          h3 #{word.content}
        span
          button(wordid='#{word._id}')#detail.button Get details
          button(wordid='#{word._id}')#delete.button Delete me
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascript/listController.js')
