extends ../layout

block content
  h1 All words
  each word in list
    li  Word: #{word.content}, type: #{word.type}
        button(wordid='#{word._id}')#detail Get details about this word
        button#delete Delete me
