doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      if user != undefined
        h2 hello #{user.name}
        a(href='/auth/logout').button logout
      else
        h2 hello guest
        a(href='/auth/login').button login
    div.page-content
      block content
