doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      if user != undefined
        h2 hello #{user.name}
        h2.title Poetry Generator
        div
          a(href='/verse').button new verse
          a(href='/auth/profile').button my profile
          a(href='/auth/logout').button logout
      else
        h2 hello guest
        h2.title Poetry Generator
        div
          a(href='/auth/login').button login
          a(href='/auth/facebook').button facebook login
    div.page-content
      block content
