doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    header
      if user != undefined
        h2 Hola #{user.name}
        h2.title Poetry Generator
        div
          a(href='/verse').button Nuevo verso
          a(href='/auth/profile').button
            img(src="/images/profile.png")
          a(href='/auth/logout').button
            img(src="/images/logout.png")
      else
        h2 Hola invitado
        h2.title Poetry Generator
        div
          a(href='/auth/login').button Iniciar sesión
          a(href='/auth/facebook').button
            img(src="/images/facebook.png")
    div.page-content
      block content
    div.background
