extends ../layout

block content
  h1 Mis versos
  ul
    each verse in list
      li
        span
          p #{verse.content}
        span
          button(verseid='#{verse._id}')#play.button
            img(src="/images/play.png")
            button(verseid='#{verse._id}')#share.button
              img(src="/images/twitter.png")
          button(verseid='#{verse._id}')#delete.button
            img(src="/images/delete.png")
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/javascript/verseListController.js')
