@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Aguafina+Script:400);

*{
  outline: none;
}

body {
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  margin: 0px;
  font-size: 18px;
}

.background{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url('/images/welcome.jpg');
  background-size: cover;
  z-index: -1;
}
@media(max-width: 1400px) {
  body{
    background-size: 1400px;
  }
}


a, a:link, a:visited {
  color: black;
  font-weight: bold;
  text-decoration: none;
}


button{
  cursor: pointer;
}

header{
  background-color: #beceda;
  height: 64px;
  box-shadow: 0px 5px 0px 0px #adbdc9;
  display: flex;
  padding: 5px 15px;
  justify-content: space-between;
  align-items: center;
}

header h2{
  font-size: 1em;
}

header h2, div{
  width: calc(100% / 3);
}

header div{
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
header> div> a{
  height: 32px;
}

header h2{
  text-align: left;
}

header h2.title{
  font-weight: normal;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0px 0px 10px  black;
  color: white;
}

.page-content{
  margin: 0 auto;
  width: 780px;
  max-width: calc(100% - 44px);
}

.welcome-screen{
  width: 100%;
  height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-screen > h1{
  font-family: 'Aguafina Script';
  font-size: 4em;
  margin-bottom: 0px;
  text-shadow: 0px 0px 5px white;
}

.title{
  font-family: 'Aguafina Script';
  font-size: 2em;
  margin: 0px;
}

.button{
  margin: 5px;
  background-color: #bafada;
  border: none;
  box-shadow: 0px 5px 0px 0px #a9e9c9;
  border-radius: 10px;
  color: black;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  padding: 10px;
  transition: transform 0.2s ease;
}

.button:hover{
  transform: translateY(-5px);
}

input:focus, select:focus{
  outline: none;
}

#form > input, label, select, span{
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin-top: 15px;
  text-align: center;
}

.input{
  background-color: #becada;
  border-radius: 10px;
  border: none;
  box-shadow: 0px -5px 0px 0px #adb9c9;
  font-family: "Roboto Slab", Helvetica, Arial, sans-serif;
  padding: 10px 0px;
}

ul{
  padding: 0px;
}

li{
  background-color: #becada;
  box-shadow: 0px 5px 0px 0px #adb9c9;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

li > span {
  margin: 0px;
  text-align: right;
}

li > span:first-child{
  text-align: left;
}

form{
  text-align: center;
}

@media(max-width: 900px) {
  .title{
    display: none;
  }

  header h2, header div{
    width: auto;
  }
}
